<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>AB79C8D6-3F98-43A2-B0D0-A30B42EE9A5D</string>
	<key>meta</key>
	<string>NO</string>
	<key>status</key>
	<string>ENABLED</string>
	<key>steps</key>
	<dict>
		<key>1</key>
		<dict>
			<key>required</key>
			<string>NO</string>
			<key>task</key>
			<string>hostname_form</string>
			<key>title</key>
			<string>Hostname form</string>
		</dict>
		<key>10</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>createpath</key>
			<string>NO</string>
			<key>excluderootfolder</key>
			<string>NO</string>
			<key>file</key>
			<string>set_kcpassword.py</string>
			<key>group</key>
			<string>80</string>
			<key>grouppermissions</key>
			<string>5</string>
			<key>otherspermissions</key>
			<string>5</string>
			<key>owner</key>
			<string>0</string>
			<key>ownerpermissions</key>
			<string>7</string>
			<key>path</key>
			<string>/Library/tmp/DStempinstallers</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>filecopy</string>
			<key>title</key>
			<string>File copy</string>
		</dict>
		<key>11</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>createpath</key>
			<string>YES</string>
			<key>excluderootfolder</key>
			<string>NO</string>
			<key>file</key>
			<string>kcpassword</string>
			<key>group</key>
			<string>80</string>
			<key>grouppermissions</key>
			<string>5</string>
			<key>otherspermissions</key>
			<string>0</string>
			<key>owner</key>
			<string>0</string>
			<key>ownerpermissions</key>
			<string>7</string>
			<key>path</key>
			<string>/Library/tmp/DStempinstallers</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>filecopy</string>
			<key>title</key>
			<string>File copy</string>
		</dict>
		<key>12</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/appendcustomvars.sh</string>
			<key>description</key>
			<string>Save custom variables to the new disk so they can be loaded into provisioning scripts</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>NO</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>13</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/createUserCD.sh</string>
			<key>description</key>
			<string>Create the new user.</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>14</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/installSophosAvDS.sh</string>
			<key>description</key>
			<string>Silently install Sophos AV</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>15</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/installKaseyaDS.sh</string>
			<key>description</key>
			<string>Silently install Kaseya</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>16</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/automaticLogin.sh</string>
			<key>description</key>
			<string>Enable automatic login for the new user</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>17</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/disableautologin.sh</string>
			<key>description</key>
			<string>Schedule a launch daemon to disable automatic login 60 seconds after the first time the machine boots.</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string>install</string>
			<key>postponedexecution</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>2</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/askForUserInfoCD.sh</string>
			<key>description</key>
			<string>Ask the tech to enter info for the new user we want to create</string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>NO</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
		<key>3</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>partitions</key>
			<array>
				<dict>
					<key>format</key>
					<string>Journaled HFS+</string>
					<key>name</key>
					<string>Macintosh HD</string>
					<key>size</key>
					<integer>100</integer>
					<key>sizeunit</key>
					<string>%</string>
				</dict>
			</array>
			<key>secureerase</key>
			<string>NO</string>
			<key>secureeraselevel</key>
			<integer>0</integer>
			<key>targetname</key>
			<string></string>
			<key>targettype</key>
			<string>firstdisk</string>
			<key>task</key>
			<string>partition</string>
			<key>title</key>
			<string>Partition</string>
		</dict>
		<key>4</key>
		<dict>
			<key>addgenericbcd</key>
			<string>NO</string>
			<key>automate</key>
			<string>YES</string>
			<key>cleanup</key>
			<string>YES</string>
			<key>cleanupnetworkconfig</key>
			<string>YES</string>
			<key>converttocorestorage</key>
			<string>NO</string>
			<key>expandrestoredNTFSvolume</key>
			<string>NO</string>
			<key>image</key>
			<string>OSX10.11.4_MacintoshHD_16.03.22_10.15.i386.hfs.dmg</string>
			<key>multicast</key>
			<string>NO</string>
			<key>multicastclientdatarate</key>
			<integer>125</integer>
			<key>multicaststartuptimeout</key>
			<integer>0</integer>
			<key>multicaststartuptrigger</key>
			<integer>0</integer>
			<key>multicaststreamdatarate</key>
			<integer>100</integer>
			<key>multicastwaitothers</key>
			<string>NO</string>
			<key>nocheck</key>
			<string>YES</string>
			<key>rename</key>
			<string>MacintoshHD</string>
			<key>renamebyhostprefs</key>
			<string>YES</string>
			<key>repairvolume</key>
			<string>NO</string>
			<key>restoresystemrecoverypartition</key>
			<string>YES</string>
			<key>startupdisk</key>
			<string>YES</string>
			<key>targetname</key>
			<string></string>
			<key>targettype</key>
			<string>firstdisk</string>
			<key>task</key>
			<string>restore</string>
			<key>title</key>
			<string>Restore</string>
		</dict>
		<key>5</key>
		<dict>
			<key>ardadmingroup</key>
			<string></string>
			<key>automate</key>
			<string>YES</string>
			<key>computerinformation</key>
			<string>NO</string>
			<key>computername</key>
			<string>YES</string>
			<key>disablegatekeeper</key>
			<string>NO</string>
			<key>enableardagent</key>
			<string>NO</string>
			<key>enablefirewall</key>
			<string>NO</string>
			<key>freezehomedirs</key>
			<string>NO</string>
			<key>licenses</key>
			<string>NO</string>
			<key>localusers</key>
			<string>NO</string>
			<key>network</key>
			<string>NO</string>
			<key>renamebyhostprefs</key>
			<string>YES</string>
			<key>skipapplesetup</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>configure</string>
			<key>title</key>
			<string>Configure</string>
		</dict>
		<key>6</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>defaultkeyboardlayout</key>
			<string>U.S.</string>
			<key>defaultlanguage</key>
			<string>en</string>
			<key>defaultregion</key>
			<string>en_US</string>
			<key>includehomedirs</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>localization</string>
			<key>title</key>
			<string>Localization</string>
		</dict>
		<key>7</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>createpath</key>
			<string>NO</string>
			<key>excluderootfolder</key>
			<string>NO</string>
			<key>file</key>
			<string>Wlogo.png</string>
			<key>group</key>
			<string>80</string>
			<key>grouppermissions</key>
			<string>7</string>
			<key>otherspermissions</key>
			<string>5</string>
			<key>owner</key>
			<string>0</string>
			<key>ownerpermissions</key>
			<string>7</string>
			<key>path</key>
			<string>/Library/User Pictures/</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>filecopy</string>
			<key>title</key>
			<string>File copy</string>
		</dict>
		<key>8</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>createpath</key>
			<string>YES</string>
			<key>excluderootfolder</key>
			<string>NO</string>
			<key>file</key>
			<string>SAVmac9.2.10</string>
			<key>group</key>
			<string>80</string>
			<key>grouppermissions</key>
			<string>7</string>
			<key>otherspermissions</key>
			<string>7</string>
			<key>owner</key>
			<string>0</string>
			<key>ownerpermissions</key>
			<string>7</string>
			<key>path</key>
			<string>/Library/tmp/DStempinstallers</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>filecopy</string>
			<key>title</key>
			<string>File copy</string>
		</dict>
		<key>9</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>createpath</key>
			<string>YES</string>
			<key>excluderootfolder</key>
			<string>NO</string>
			<key>file</key>
			<string>KcsSetup.zip</string>
			<key>group</key>
			<string>80</string>
			<key>grouppermissions</key>
			<string>7</string>
			<key>otherspermissions</key>
			<string>7</string>
			<key>owner</key>
			<string>0</string>
			<key>ownerpermissions</key>
			<string>7</string>
			<key>path</key>
			<string>/Library/tmp/DStempinstallers</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>filecopy</string>
			<key>title</key>
			<string>File copy</string>
		</dict>
	</dict>
	<key>title</key>
	<string>Provision Machine</string>
</dict>
</plist>
